@import '../../lib/breakpoints.scss';

img {
    top: 10px;

    .dark & {
        filter: brightness(0.5);
    }

    @media (orientation: portrait) or (max-width: $mobile-large) {
        display: none;
    }
}