@import '../../lib/breakpoints.scss';
@import '../../lib/variables.scss';

.box {
    display: flex;
    height: 100%;
    justify-content: center;
    overflow-y: auto;
    padding: 5vh;
    width: 100%;

    .gridContainer {
        justify-content: center;
        width: 80vw;

        .stack {
            height: 100%;

            .image {
                width: 100%;
            }

            .name {
                font-size: 1.5em;
            }
        }
    }
}