@import '../../../lib/breakpoints.scss';

.iconButton {
    padding: 4px;

    @media (max-width: $desktop-small) {
        margin-left: 0;
    }

    .modeIcon {
        height: 1.5em;
        width: 1.5em;
    }
}