@import '../lib/breakpoints.scss';
@import '../lib/variables.scss';

.stack {
	align-items: center;
	justify-content: space-around;
	margin-bottom: 25vh;
	margin-left: 25vw;
	margin-top: 10vh;
	z-index: 1;

	@media (orientation: portrait) {
		margin-left: 0;
	}

	.typographyTop {
		font-size: 8vh;
		font-weight: bold;
		max-width: 70vw;
		text-align: center;
	}

	.typographyBottom {
		font-size: 6vh;
		font-style: italic;
		text-align: center;
	}
}