.appBar {
	background-color: var(--mui-palette-background-default) !important;
	background-image: none !important;
	min-height: 6vh;

	.container {
		min-height: inherit;

		.toolbar {
			min-height: inherit;

			.MuiTypography-h1 {
				font-size: 2.8em !important;
				margin-right: calc(2 * var(--mui-spacing) + 6px) !important;
			}

			.MuiBox-root {
				min-height: inherit !important;

				.button {
					border-radius: 0;
					display: block;
					font-size: 1.4em;
					font-weight: 700;
					margin: 0;
					padding: calc(2 * var(--mui-spacing) + 8px) 10px calc(2 * var(--mui-spacing) + 4px);
					width: 6rem;
				}
			}

			.IconButton {
				margin-left: calc(2 * var(--mui-spacing) + 6px);

				.ModeIcon {
					height: 1.4em;
					width: 1.4em;
				}
			}
		}
	}
}

.MuiMenu-root {
	.MuiMenu-paper {
		background-image: none;

		.MenuItem {
			font-size: 1.1em;
			padding: 14px 16px 10px;
		}
	}
}

.tooltip-top {
	font-size: 0.8rem;
	padding-top: 4px;
}
.tooltip-bottom {
	font-size: 0.8rem;
	padding-bottom: 4px;
}