@import '../../lib/breakpoints.scss';
@import '../../lib/variables.scss';

.appBar {
	background-color: var(--mui-palette-background-default) !important;
	background-image: none !important;
	justify-content: center;
	height: $navbar-height;

	@media ((max-width: $mobile-large) and (orientation: landscape)) or ((max-height: 700px) and (orientation: portrait)) {
		height: calc(2 * $navbar-height);
	}

	@media (max-width: $mobile-large) and (orientation: portrait) and (min-height: 701px) {
		height: calc(2vh + $navbar-height);
	}

	.container {
		min-height: inherit;
		max-width: 1400px;

		.toolbar {
			justify-content: space-evenly;
			min-height: inherit;

			@media (max-width: $mobile-large) {
				display: none;
			}

			.MuiTypography-h1 {
				cursor: pointer;
				font-size: 3em !important;

				@media (max-width: $desktop-large) {
					font-size: 2.4em !important;
				}
				@media (max-width: $desktop-medium) {
					font-size: 2em !important;
					margin-right: 0 !important;
				}
				@media (max-width: $desktop-small) {
					font-size: 1.8em !important;
				}
			}

			.MuiBox-root {
				margin-right: 0 !important;
				min-height: inherit !important;

				@media (max-width: $desktop-small) {
					margin-right: 0 !important;
				}

				.button {
					border-radius: 0;
					display: block;
					font-size: 1.4em;
					font-weight: 700;
					height: $navbar-height;
					margin: 0;
					padding: 0.5vh 10px 0;
					width: 7rem;

					@media (max-width: $desktop-large) {
						font-size: 1.2em;
						width: 6rem;
					}
					@media (max-width: $desktop-medium) {
						font-size: 1em;
						width: 5rem;
					}
					@media (max-width: $desktop-small) {
						padding: 0.5vh 8px 0;
					}
				}
			}

			.iconButton {
				padding: 4px;

				@media (max-width: $desktop-small) {
					margin-left: 0;
				}

				.modeIcon {
					height: 1.4em;
					width: 1.4em;
				}
			}
		}

		.stack {
			display: none;
			justify-content: space-around;
			min-height: inherit;

			@media (max-width: $mobile-large) {
				display: flex;
			}

			.MuiTypography-h1 {
				font-size: 1.8em;
				justify-content: center;
				margin-right: 0 !important;

				@media (orientation: landscape) {
					font-size: 1.6em;
				}
			}

			.box {
				align-items: center !important;
				justify-content: space-between !important;
				margin-right: 0 !important;
				min-height: inherit !important;

				.iconButton {
					margin-left: 0;
					padding: 4px;
	
					.modeIcon {
						height: 1.5em;
						width: 1.5em;
					}
				}
			}
		}
	}
}

.MuiMenu-root {
	.MuiMenu-paper {
		background-image: none;
		border-radius: 0;

		.MuiMenu-list {
			padding: 0;
			
			.MenuItem {
				font-size: 1.1em;
				padding: 14px 16px 10px;
	
				@media (max-width: $desktop-large) {
					font-size: 0.8em;
					padding: 12px 14px 10px;
				}
				@media (max-width: $desktop-medium) {
					font-size: 0.7em;
					line-height: 1;
				}
			}
		}
	}
}

.tooltip-top {
	font-size: 1rem;
	padding-top: 4px;

	@media (max-width: $desktop-large) {
		font-size: 0.8rem;
	}
	@media (max-width: $desktop-medium) {
		font-size: 0.6rem;
	}
}
.tooltip-bottom {
	font-size: 1rem;
	padding-bottom: 4px;

	@media (max-width: $desktop-large) {
		font-size: 0.8rem;
	}
	@media (max-width: $desktop-medium) {
		font-size: 0.6rem;
	}
}